@{
    ViewBag.Title = "Sent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Your message has been sent</h2>
    </div>
</body>
</html>