@{
    ViewBag.Title = "Home Page";
}
@**@

<script>
    jQuery(document).ready(function ($) {
        $('.slider').slider({ height:600 });
    });
</script>


@*<div style="margin-top:10px">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="~/Images/2019-Audi-R10-The-New-Hypercar-Concept-From-Audi...jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Images/Audi-R10-Concept-2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Images/Audi-R10-Concept-3.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
*@