@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CarRentalSystem.DAL.Models.Order_History.OrderHistory

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        User:
        @User.Identity.Name
    </div>

    <div>
        CarId:
        @(ViewBag.CarId)

    </div>

    <input type="submit" value="Order" class="btn btn-default" />
}
